/* Background and Main Text Styles */
body, html {
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue";
  margin: 0, auto;
  padding: 0;
}

.bg {
  background: burlywood;
  background-image: url(images/bakery-front-image.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
padding: 25px;
}


h1, h2 {
  font-family: verdana;
  color: white;
  text-align: center;
}

h3 {
  font-family: verdana;
  color: black;
  text-align: center;
  font-weight: bold;
}

/* Footer Styles*/

.footer {
  height: 10%;
  width: 100%;
  background-color: beige;
  color: black;
  text-align: center;
}

.footer-text, .footer-copy {
  color: black;
  font-size: 18px;
}

.emphasised {
  font-style: italic;
}

.footer-copy {
  color: black;
}

/* Footer Styles End */

/* General Styles */

.about-us, .bakeries-display-box, .contact-us-section {
  width: 90%;
  height: 90%;
  background-color: beige;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  color: black;
}

.about-us-image, .contact-us-front-image {
  background-image: url(images/AboutUsImage.jpeg);
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 4px solid transparent;
  border-image: url(border.png) 30 round;
  border-color: white;
}

.founders-image{
  width: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 4px solid transparent;
  border-image: url(border.png) 30 round;
  border-color: white;
}

p {
  font-family: verdana;
  font-size: 24px;
}

/* General Styles End */

/* footer {
  font-size: 1.2em;
  text-align: center;
  color: gray;
} */

/* Search Bar Styles */

.error_message {
  font-size: 1.3em;
  color: red;
}

#individual-bakery {
    border: 2px, solid, black;
    position: center;
    margin: 10px;
}
#map {
  height: 500px;
  width: 90%;
  margin: 10px;
  padding: 5px;
  border-radius: 2px;
  position: relative;

}
#searchbar {
  margin-left: 15%;
  padding: 15px;
  border-radius: 10px;
}


input[type=text] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type=text]:focus {
  width: 70%;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

.bakeries {
  display: list-item;
} 

/* Search Bar Styles End */

/* Home Styles */

.home-tagline-box {
  width: 85%;
  height: 90%;
  background-color: beige;
  margin-left: auto;
  margin-right: auto;
  background:rgba(255, 255, 255, 0.60);
}

.home-tagline-text {
  justify-content: center;
  color: black;
  text-align: center;
  padding: 5px;
  font-style: italic;
}

.homepage-logo {
  width: 400px;
  height: 400px;
  padding: 40px;
}

.homepage-logo-section {
  display: flex;
  justify-content: center;
}

/* Contact Us Styles */

.social-icons {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.2;
  height: 100%;
  width: 100%;
} */


/* pratice the demo- user journey */ /* one user demo person */
/* showcase everything */
/* future steps */
/* presentation slides- bullet points- fun, introduce yourseves, 
introduce your idea, progress- who worked on what, how did we track our work, 
git management, particular code achievements what did we enjoy, difficulties, conflicts how to sove it?
