html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  width: 90%;
  font-family: "Helvetica Neue";
  background-color: lightblue;
  height: 100%;
  margin: 0, auto;
  padding: 0;
}

h1 {
  font-family: verdana;
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 24px;
}
footer {
  font-size: 1.2em;
  text-align: center;
  color: gray;
}

.error_message {
  font-size: 1.3em;
  color: red;
}

#map {
  height: 500px;
  width: 400px;
  margin: 0, auto;
  padding: 0;
}
