/* Generic elements */
body,
html {
  width: 100%;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0, auto;
  padding: 0;
}

h1,
h2 {
  color: white;
}

h1,
h2 {
  text-align: center;
  font-weight: 600;
}

h3 {
  color: rgb(55, 81, 95);
  text-align: center;
  font-weight: bold;
}

form {
  width: 80%;
}

p {
  font-size: 24px;
  margin: 0px 0px 0px 0px;
  line-height: normal;
}

tr {
  border: 1px solid;
  text-align: center;
}
th {
  border-bottom: 3px solid;
  border-color: rgb(55, 81, 95);
}
th,
td {
  border-right: 2px solid;
  border-color: rgb(55, 81, 95);
}

input[type="text"] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type="text"]:focus {
  width: 70%;
}
/* generic styles end */

.bg {
  background: rgba(211, 165, 136);
  background-image: url(images/bakery-front-image-2.jpg);

  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*navbar styling */
.navbar {
  padding: 25px;
}

.nav-bg {
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 20px;

  background: rgba(211, 165, 136, 0.8);
}

.menu-logo {
  max-width: 100%;
  height: auto;

  object-fit: scale-down;
  width: 120px;
}
.h2-black {
  color: rgb(55, 81, 95);
}

/* Navbar effects */

.menu li {
  display: block;
  height: 100%;
  margin-right: 30px;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;

  text-shadow: 0 0 15px #7fd1b9;
  transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-container {
  width: 100%;
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 30 100px;
}

.menu li:after,
.menu li:before {
  content: "";
  position: absolute;
  width: 0%;
  display: block;
  height: 1px;
  transition: all 0.3s ease;
  transition: all 300ms ease-in;
}

.menu li:after {
  bottom: 25%;
  left: 0;
}

.menu li:before {
  top: 25%;
  right: 0;
}

.menu li:hover::after {
  width: 100%;
  height: 1px;
  bottom: 25%;
  background-color: #ffff;
}

.menu li:hover::before {
  width: 100%;
  height: 1px;
  top: 25%;
  background-color: #fff;
}

/* Navbar effects end */

/* Footer Styles*/

.footer {
  height: 20%;
  width: 80%;
  background-color: rgb(211, 165, 136, 0.8);

  text-align: center;
  margin-left: 10%;
  border-radius: 10px;
}

.footer-text,
.footer-copy {
  color: antiquewhite;
  font-size: 12px;
}

.emphasised {
  font-style: italic;
}

.footer-copy {
  color: black;
}

/* Footer Styles End */

/* General Styles */

.home-container,
.about-us,
.bakeries-display-box,
.contact-us-section,
.upload-image-form-container,
.review-container,
.new-bakery-form-container,
.bakery-form-link,
.uploaded-container {
  width: 80%;
  height: 90%;
  background-color: rgba(211, 165, 136, 0.9);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  color: rgb(55, 81, 95);
  border-radius: 10px;
}

.upload-image-form {
  justify-content: center;
  text-align: center;
}

.form-border {
  border: 1px solid;
  border-color: rgb(55, 81, 95);
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 15px 0px;
}

.form-control {
  list-style: none !important;
  background-color: rgba(236, 226, 208, 0.4);
  padding: none;
}

.button {
  border-radius: 5px;
  background-color: #7fd1b9;
}
.bakeries-display-box {
  padding-bottom: 30px;
}

.about-us-text {
  font-size: smaller;
  justify-content: center;
}
.about-us-container div {
  border-top: 1px solid;
  padding: 5px;
  margin-top: 2px;
  border-color: rgb(55, 81, 95);
  text-align: center;
}

.bakery-image {
  max-width: 350px;
  border: 4px solid;
  border-radius: 5px;
  border-color: rgb(55, 81, 95);
  margin: 10px;
}

.about-us-image,
.contact-us-front-image {
  background-image: url(images/AboutUsImage.jpeg);
  width: 300px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  display: block;
  border: 4px solid;
  border-radius: 5px;
  border-image: url(border.png) 30 round;
  border-color: rgb(55, 81, 95);
  margin-top: 20px;
}

.contact-us-small-image {
  border: 4px solid;
  border-color: rgb(55, 81, 95);
  border-radius: 5px;
  width: 80%;
  margin: 10px 0px;
}

.about-us-para-1,
.about-us-para-2,
.about-us-para-3,
.about-us-question,
.contact-us-para-1,
.contact-us-para-2,
.contact-us-para-3 {
  padding: 5px;
  margin: 5px;
  border-color: rgb(55, 81, 95);
}

.founders-image {
  height: 160px;
  width: 160px;
  object-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 4px solid transparent;
  border-image: url(border.png) 30 round;
  border-color: rgb(55, 81, 95);
  border-radius: 50%;
}

.error_message {
  font-size: 1.3em;
  color: red;
}

.individual-bakery-container {
  position: center;
  margin: 0% 10% 5% 10%;
  padding: 20px 0px 0px 0px;
  background: rgba(211, 165, 136, 0.8);
  justify-content: center;
  border-radius: 10px;
}

.individual-bakery {
  justify-content: center;
  margin-right: 9%;
}

.bakery-text {
  text-align: center;
  justify-content: center;
}

.dietary-table,
.bakeries-table {
  text-align: center;
  width: 80%;

  margin-top: 5%;
  border: 2px solid;
  border-color: rgb(55, 81, 95);
}

.dietary-table {
  margin-left: 8%;
  margin-right: 8%;
}

.bakeries-table p,
h2 {
  padding: 15px;
  margin-left: 6%;
  margin-right: 6%;
  width: 100%;
}

.bakeries {
  display: list-item;
}

.home-tagline-text,
.about-us-info,
.contact-us-info {
  justify-content: center;
  color: black;
  text-align: center;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

.homepage-logo {
  width: 400px;
  height: 400px;
  padding: 40px;
  justify-content: center;
}

.homepage-logo-section {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.social-icon-1,
.social-icon-2 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 120px;
  padding: 15px;
}

.insta-image,
.twitter-image {
  width: 50px;
  height: 50px;
}

.social-caption-1,
.social-caption-2 {
  display: block;
  padding: 4px;
}

#map {
  height: 500px;
  width: 90%;
  margin: 10%;
  padding: 5px;
  border-radius: 20px;
  border: 15px solid;
  border-color: rgba(211, 165, 136, 0.9);
}
#searchbar {
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
}

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.2;
  height: 100%;
  width: 100%;
} */

/* pratice the demo- user journey */ /* one user demo person */
/* showcase everything */
/* future steps */
/* presentation slides- bullet points- fun, introduce yourseves, 
introduce your idea, progress- who worked on what, how did we track our work, 
git management, particular code achievements what did we enjoy, difficulties, conflicts how to sove it?
*/
