<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}} - Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
    <h1>{{ title }} Page</h1>
{% block body_content %}
    <div class = "container"
    style="margin-bottom: 0">
        <div class="row">
            <div class="col" style="justify-content: center; text-align: center">
          <h1>Thank you, your image has been saved!</h1>
          <hr />
          <img
            class="contact-us-front-image"
            src="/static/images/contact-us-front-image.jpeg"
            alt="Colourful Cake"
          />
          <br />
            </div>
        </div>
    </div>
    {% endblock %}
<hr>
{% block footer_content %}{% endblock %}
</body>
</html>
